@font-face {
  font-family: Kumbh-Sans;
  src: url('./assets/KumbhSans.ttf');
}

body {
  margin: 0;
  background-color: #5D1049;
  color: #fff;
  font-family: Kumbh-Sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
